/*
!.gitignore
!wp
!app.js
!package.json
!docker-compose.yml
!proxy

proxy/*
!proxy/conf
!proxy/cert


wp/*
!wp/wp-config.php
!wp/app

wp/app/*
!wp/app/mu-plugins
!wp/app/plugins/
!wp/app/themes/

wp/app/plugins/*
!wp/app/plugins/loa-article-tracker
!wp/app/plugins/cine-movie-tracker

wp/app/themes/*
!wp/app/themes/pale

vendor/
*.log
error_log
